html{
	width: 100%；
	height:100%;
	min-height: 100%;
	background-image: url("background.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
body{
	margin:0;
	padding: 0;
	height: 100%;
	width:100%;
}
#line{
	width:40px;
	height:5px;
	background-color: #506d45;
	display: inline-block;
}
#header{
	margin-top:110px;
	margin-left:800px;
}
#header h1{
	font-family: 'Anton', sans-serif;
	font-size:3em;
	margin:2px;
	color:#506d45;
}
#header p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:1.5em;
}
button{
	width:220px;
	height:50px;
	color:white;
	border-radius: 50px;
	border:none;

	font-size: 1.2em;
	font-weight: bold;
}
.itemButton{
	background:linear-gradient(90deg,purple,pink);
}
.details{
	display: none;
	margin:0px;
}
ul{
	margin:0px;
	padding:0px;
	display: inline-block;
	margin-right:70px;
	float:left;
}
li p{
	font-size:1.2em;
}
#qrcode{
	display: inline-block;
	float:left;
}
li{
	list-style-type: none;
	margin-bottom:15px;
}
input{
	border:1px solid purple;
}
#final{
	background-color: black;
}
label{
	font-family: 'Anton', sans-serif;
	font-size:1.5em;
	margin:2px;
	color:#529c65;
}
